body {
	font-family: "Courier New", Courier, monospace;
	background-color: #F5F5DC;
}
.navbar {
	background-color: #1143f8 !important;
	height: 60px;
}
.card {
    max-width: 800px;
	margin: 50px auto;
	padding: 20px;
}
textarea {
	resize: none;
}
/*
blue: #1a2a6c
*/