{% extends 'auth/base_auth.html' %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="card p-4 shadow-sm">
  <h4 class="mb-3 text-center">Set a new password</h4>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
          <div class="text-danger small">{{ field.errors|striptags }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-success w-100" type="submit">Change password</button>
  </form>
</div>
{% endblock %}
